div.age-report-filters label{color:#53585d;font-size:14px}div.age-report-filters label.lead-head{display:inline-block;width:100px}
div.age-report-filters .select-widget{margin-right:6px}
div.age-report-filters button{font-size:14px;font-weight:normal;float:right}
div.graph{background-color:#fff;padding:10px;text-align:center}
#age-report td{text-align:center}
