@background-color: #ebeae6;
@content-background: #fdfdfc;
@text-color: #53585d;
@link-color: #3bbded;
@link-hover-color: #288dc6;

* {
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	behavior: url(css/PIE.php);
}

.transition(@value) {
	-webkit-transition: @value;
	   -moz-transition: @value;
	    -ms-transition: @value;
	     -o-transition: @value;
	        transition: @value;
}

body, div, ul, li, p, h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
	list-style: none;
	color: @text-color;
}

a {
	cursor: pointer;
	color: @link-color;
	text-decoration: none;
	&:hover {
		color: @link-hover-color;
	}
}
a.expander {
	display: inline-block;
	font-size: 14px;
	vertical-align: middle;
	padding: 0 8px;
	position: relative;
	&:after {
		content: ' ';
		display: block;
		width: 10px;
		height: 24px;
		position: absolute;
		right: -10px;
		top: 0;
		background: url(../image/fold2.png) no-repeat right -8px;
	}
	&.expanded {
		&:after {
			background-position: right -42px;
		}
	}
}

body {
	background: url(../image/background.png) repeat;
	font-family: Arial;
}

div.tooltip {
	position: absolute;
	width: 150px;
	background-color: #4b4e4f;
	color: white;
	font-size: 12px;
	border-radius: 5px;
	padding: 5px 10px;
	box-shadow: 0px 3px 6px rgba(56,55,51,.3);
	div.knock {
		position: absolute;
		bottom: -7px;
		width: 6px;
		height: 7px;
		left: 5px;
		background: url(../image/tooltip_knock.png);
	}
}

.clear-fix {
	height: 0;
	line-height: 0;
	clear: both;
}

div.head-line {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 5px;
	background-color: #363a3a;
}

div.content-container {
	background-color: #f7f7f7;
	margin: 4px auto;
	border: 1px solid #d4d4d4;
	width: 1000px;
    min-height: 700px;
}

div.header {
	height: 48px;
	border-bottom: 1px solid #dbdbdb;
	box-shadow: 0 1px #ededed;
	background: url(../image/header-background.png) 0 -48px repeat-x;
}


div.logo {
	background: url(../image/header-background.png) 0 0 repeat-x;
	border-radius: 2px;
	overflow: hidden;
	height: 48px;
	width: 116px;
	h1 {
		text-indent: -1000px;
		background: url(../image/logo.png) center center no-repeat;
		height: 48px;
	}
	float: left;
}

div.nav {
	float: left;
	ul {
		height: 48px;
		padding: 0 24px;
	}
	li {
		display: inline-block;
		height: 16px;
		padding: 16px 8px 16px 24px;
		line-height: 16px;
		background-image: url("../image/nav-icon.png");
		background-repeat: no-repeat;
		cursor: pointer;
		a {
			color: @text-color;
			font-size: 12px;
			text-decoration: none;
			display: block;
			height: 16px;
			padding-right: 6px;
			&.drop-down {
				padding-right: 16px;
				background-image: url("../image/nav-icon.png");
				background-repeat: no-repeat;
				background-position: right -240px;	
			}
			cursor: pointer;				
		}
		&:hover, &.active {
			a {				
				color: #6ab9c0;
				&.drop-down {
					background-position: right -528px;
				}
			}
		}
		&.active {			
			background-color: white;
		}	
		&.i1 {
			background-position: 6px 0;
			&:hover, &.active {
				background-position: 6px -288px;
			}
		}
		&.i2 {
			background-position: 6px -48px;
			&:hover, &.active {
				background-position: 6px -336px;
			}
		}
		&.i3 {
			background-position: 6px -96px;
			&:hover, &.active {
				background-position: 6px -384px;
			}
		}
		&.i4 {
			background-position: 6px -144px;
			&:hover, &.active {
				background-position: 6px -432px;
			}
		}
		&.i5 {
			background-position: 6px -192px;
			&:hover, &.active {
				background-position: 6px -480px;
			}
		}
	}
}

div.action {
	float: right;
	padding: 14px 24px 10px;
	ul {
		height: 24px;			
		li {
			display: inline-block;
			background: url(../image/head-action-icons.png) no-repeat;
			height: 24px;
			width: 30px;
			cursor: pointer;
			margin-left: 2px;
			a {
				display: block;
				width: 30px;
				height: 24px;
			}
			&.key {
				background-position: 0 -48px;
				&:hover {
					background-position: 0 -120px;
				}
			}
			&.feedback {
				background-position: 0 -24px;
				&:hover {
					background-position: 0 -96px;
				}
			}
			&.spliter {
				width: 8px;
				background: url(../image/spliter.png) right center no-repeat;
			}
			&.user {
				background-position: 0 0;
				&:hover, &.active {
					background-position: 0 -72px;
				}
			}
		}
	}	
}

div.header ul.drop-down-menu {
	position: absolute;
	width: auto;
	height: auto;
	border: 1px solid #5d6465;
	border-top-color: #62686a;
	border-radius: 5px;
	box-shadow: 0 0 16px rgba(63,67,71, .75);
	padding: 0;
	padding-left: 0 !important;
	display: none;
	z-index: 100;
	li {
		display: block;
		width: auto;
		height: auto;
		margin: 0;
		background: none;
		padding: 0;
		&:hover a {			
			background: #606d6e;
			color: #cfd0d0;
			z-index: 101;
		}
		a {
			background: #606d6e;
			color: #cfd0d0;
			display: block;
			width: auto;
			height: auto;
			padding: 10px 25px 10px 10px;
			border-bottom: 1px solid #44484c;
			border-top: 1px solid #8f9499;
			font-size: 12px;
			&:hover {
				background-color: #669b9f;
				color: #fff;
				border-top: 1px solid #afe7ec;
			}
		}
		&:first-child a {
			border-radius: 5px 5px 0 0;
			border-top: 1px solid #a5b4b6;
			&:hover {
				z-index: 10;
				position: relative;
				border-top: 1px solid #afe7ec;
			}
		}
		&:a {
			border-bottom: none;
		}
	}
	&:before {
		content: ' ';
		position: absolute;
		width: 11px;
		height: 10px;
		left: 50%;
		margin-left: -5.5px;
		top: -8px;
		background: url(../image/knock.png);
	}

	&.flat {
		border: none;
		box-shadow: none;
		&:before {		
			background: url(../image/knock_flat.png);
			top: -6px;
		}
		li {
			a, &:first-child a {
				border-color: #606d6e;
			}
			a:hover, &:first-child a:hover, &.last-item a:hover {
				border-color: #6ab9c0;
				background: #6ab9c0;
				font-size: 12px;
			}
			&.spliter-down a {
				border-bottom: 1px solid #44484c;
			}
			&.spliter-up a {				
				border-top: 1px solid #8f9499;
			}
		}
	}
}

div.content {
	margin-top: 10px;
	overflow: hidden;
}

div.panel {
	&.half-size {			
		float: left;
		width: 390px;
		margin-right: 2px;
		margin-top: 10px;
	}
	&.collapsible {
		.panel-header h2 {
			cursor: pointer;
			padding-right: 30px;
			background: url(../image/fold2.png) right -34px no-repeat;
		}
		&.collapsed {
			.panel-header {
				border-bottom: none;
				h2 {
					background-position: right 0;
				}
			}
			.panel-content {
				display: none;
			}
		}
	}
}

div.tab-container {	
	ul.tab {
		background-color: #ebeae6;
		height: 34px;
		border-bottom: 2px solid #59b1b9;
		display: inline-block;
		vertical-align: middle;
		li {
			display: inline-block;
			font-size: 14px;
			height: 34px;
			line-height: 34px;
			overflow: hidden;
			color: @link-color;
			cursor: pointer;
			padding: 0 15px;
			&:hover {
				color: @link-hover-color;
			}
			&.active {
				background-color: #f6f5f1;
				border-top: 2px solid #3bbded;
				color: #53585d;
				cursor: default;
				line-height: 32px;
				&:hover {
					color: #53585d;
				}
			}
		}
		&.block {
			display: block;
			border-bottom: none;
			height: 50px;
			background-color: #eff3f4;
			li {
				display: block;
				float: left;
				height: 50px;
				line-height: 50px;
				background-color: #f2f7f8;
				&.active {
					border-top: none;
					background-color: white;
				}
                &.growth-button {
                    margin: 10px 20px;
				    height: 30px;
				    width: 45px;
				    background-color: transparent;
                }
			}
			&:after {
				content: ' ';
				display: block;
				height: 0;
				line-height: 0;
				clear: both;
			}
		}
	}
	div.tab-body {
		display: none;
		&.active {
			display: block;
		}
	}
}

.growth-button {
    height: 30px;
    width: 45px;
    padding: 0;
    background: url(../image/growth-button.png) no-repeat 0 0;
    &:hover {
        background-position: 0 -30px;
    }
    &:active {
        background-position: 0 -60px;
    }
    box-sizing: content-box;
    border: none;
    text-indent: -10000px;
    outline: none;
    vertical-align: middle;
}

div.panel-header {
	background-color: @background-color;
	border-bottom: 2px solid #59b1b9;
	h2 {		
		height: 34px;
		font-size: 14px;
		line-height: 34px;
		padding: 0 15px;
		color: @text-color;
		display: inline-block;
		vertical-align: middle;
		em {
			font-size: 1.4em;
		}
	}
	height: 34px;
}

ul.popup-list {	
	position: absolute;
	background-color: #ffffff;
	border-radius: 4px;
	overflow: hidden;
	box-shadow: 0 0 3px rgba(154, 158, 154, .8);
	z-index: 100;
	li {
		height: 29px;
		line-height: 29px;
		font-size: 14px;
		color: #53585d;
		text-shadow: none;
		padding: 0 15px;
		cursor: pointer;
		white-space: nowrap;
		&:hover {
			color: white;
			background-color: #59b1b9;
		}
		&.split {
			border-top: 1px solid #efefef;
		}
	}
}

.select-widget {
	background: url(../image/select.png) right 0;
	border: 1px solid #ccc;
	height: 29px;
	line-height: 29px;
	vertical-align: middle;
	padding: 0 20px 0 10px;
	font-size: 14px;
	color: #333333;
	text-shadow: 0 1px white;
	border-radius: 4px;
	font-weight: normal;
	font-family: Helvetica, Arial;
	position: relative;
	display: inline-block;
	cursor: pointer;
    &.removable {
        border-radius: 4px 0 0 4px;
        border-right: none;
    }
	label {
		font-weight: normal;
		margin: 0;
	}
	&:hover {
		border-color: darken(#ccc, 15%)
	}
	.select-caret {
		position: absolute;
		width: 12px;
		height: 10px;
		right: 7px;
		top: 10px;
		background: url(../image/select.png) 0 -30px;
	}
	.select-option-list {
		left: 0;
		top: 30px;
	}
	&.active, &:hover {
		.select-caret {
			background-position: 0 -40px;
		}
	}
	&.date-range label {
		padding-left: 18px;
		background: url(../image/calendar.png) left -1px no-repeat;
	}
}

button.select-widget-remove-button {
	font-family: 'Courier New';
    height: 29px;
    line-height: 29px;
    text-align: center;
    color: #ed1414;
    text-shadow: 0 1px white;
    font-size: 18px;
    width: 29px;
    box-sizing: content-box;
    padding: 0;
    border: 1px solid #bfbfbf;
    border-radius: 0 4px 4px 0;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    background-color: #e4e4e4;
    outline: none;
    cursor: pointer;
    &:hover {
        background-color: #efefef;
    }
}


.select-widget.split-button,
form .field .select-widget.split-button {
	background-image: url(../image/select.png);
	background-position: 0 0;
	height: 24px;
	border-radius: 4px;
	border-color: #ccc;
	padding-top: 0;
	padding-bottom: 0;
	cursor: pointer;
	&:after {
		content: ' ';
		display: block;
		height: 24px;
		width: 1px;
		border-left: 1px solid #ccc;
		position: absolute;
		top: 0;
		right: 25px;
	}
	label {
		line-height: 24px;
	}
	.select-caret {
		position: absolute;
		width: 12px;
		height: 10px;
		right: 7px;
		top: 8px;
		background-position: 0 -30px;
	}
	.select-option-list {
		top: 25px;
		.select-option:hover {
			background-color: #59b1b9;
			color: white;
		}
	}
	&.active, &:hover {
		.select-caret {
			background-position: 0 -40px;
		}
	}
}

.radio-group {
	margin: 0 3px;
	display: inline-block;
}

label.check-widget {
	height: 20px;
	line-height: 20px;
	padding: 0 5px;
	border: 1px solid #bfbfbf;
	margin-right: -1px;
	display: block;
	background: url(../image/button-group.png) repeat-x;
	float: left;
	font-size: 12px;
	text-shadow: 0 1px white;
	cursor: pointer;
	input {
		-webkit-appearance: none;
		display: none;
	}
	&:first-child {
		border-radius: 3px 0 0 3px;
	}
	&:last-child{
		border-radius: 0 3px 3px 0;
		margin-right: 0;
	}
	&.alone {
		margin-left: 10px;
		border-radius: 3px;
	}
	&.active {
		background: #e4e4e4;
	}
	&.single {
		border-radius: 3px;
		margin: 0 3px;
	}
}

div.footer {
	background: #616161;
	color: #ebeae6;
	height: 60px;
	line-height: 60px;
	text-align: center;
	margin-top: 48px;
	font-size: 14px;
}

div.content-header {
    padding: 20px 30px;
    h1 {
        color: #333;
        font-size: 18px;
    }
    hr {            
        margin-top: 10px;
        margin-bottom: 15px;
    }
    button {
    	margin: 0;
	}
}

hr {
    border: none;
    height: 0;
    border-bottom: 1px solid #dfded8;
    margin: 0;
}

table.name-value {
    width: 600px;
    margin-left: 30px;
    margin-top: -20px;
    font-size: 12px;
    color: #53585d;
    border-collapse: collapse;
    td {
        padding: 10px;
        background-color: white;
        border-bottom: 1px solid #eeede8;
        &:first-child {
            width: 50%;
            font-weight: bold;
            background-color: #d1ecee;
            border-bottom: 1px solid #afd3d7;
        }
    }
}

table.data-table {
	width: 100%;
	border-collapse: collapse;
	th {
		background-color: #d1ecee;
		border-left: 1px solid #afd3d7;
		padding: 5px 5px;
		font-size: 12px;
		color: #53585d;
		&:first-child {
			border-left: none;
			font-size: 14px;
		}
	}
	td {
		background-color: white;
		padding: 3px 5px;
		text-align: center;
		font-size: 14px;
		color: #53585d;
		border: 1px solid #e2dfd5;
		border-right: none;
		&:first-child {
			border-left: none;
		}
	}
	tr:first-child td {
		border-top: none;
	}
	tr:hover > td {
		background-color: hsl(184, 30%, 96%);
	}

	table.sub-table {
		border-collapse: collapse;
		width: 100%;
		th {						
			background-color: #e9f3f4;
			font-size: 12px;
		}
		td {
			font-size: 12px;
		}
		tr:hover > td {
			background-color: white;
		}
	}
}

table.data-table.stand-alone {
	th {
		height: 34px;
		border-top: 2px solid #59b1b9;
		padding: 0;
	}
	td {
		height: 36px;
		text-align: left;
		font-size: 12px;
		font-weight: normal;
		color: #53585d;
		padding: 0 10px;
	}
}

div.fast-nav {
	position: fixed;
	bottom: 20px;
	right: 20px;
	ul {
		width: 76px;
	}
	li {
		width: 76px;
		height: 44px;
		border-bottom: 1px solid #646464;
		&.last-link {
			border-bottom: 1px solid #ddd;
		}
		&.go-top {
			display: none;
			a {
				background-image: url(../image/narrow-up.png);
				background-position: center center;
				background-repeat: no-repeat;
			}
		}
		a {
			display: table-cell;
			width: 68px;
			height: 36px;
			padding: 4px;
			line-height: 18px;
			text-align: center;
			font-size: 12px;
			text-decoration: none;
			color: #eeede8;
			background-color: #757575;
			vertical-align: middle;
			&:hover {
				background-color: #585858;
			}
		}
	}
}


input[type="text"], 
input[type="search"], 
input[type="email"],
input[type="password"],
input[type="url"], 
input[type="dollor"], 
textarea {
	.transition(box-shadow .5s ease);
	border: 1px solid #dcdad1;
	border-radius: 2px;
	outline: none;
	height: 18px;
	width: 200px;
	&.longer {
		width: 400px;
	}
	box-sizing: content-box;
	line-height: 18px;
	padding: 2px 3px;
	vertical-align: middle;
	background-color: #fcfcfc;
	&:focus {
		border-color: #c3eaf8;
		box-shadow: 0 0 3px rgba(59, 189, 237, .5);
	}
	&[disabled] {
		background-color: #eee;
	}
	&.short {
		width: 40px;
	}
}
textarea {
	height: 60px;
	vertical-align: top;
}
span.dollor-mark {
	display: inline-block;
	&:after {
		vertical-align: middle;
		content: '$';
		display: inline-block;
		width: 24px;
		height: 22px;
		line-height: 22px;
		border: 1px solid #dcdad1;
		background: url(../image/button.png) repeat-x;
		text-align: center;
		border-radius: 2px 0 0 2px;
	}
}
input[type="dollor"] {
	border-left: none;
	border-radius: 0 2px 2px 0;
	width: 120px;
}
input.switch {
	display: none;
}
div.switch {
	-webkit-appearance: none;
	-moz-appearance: none;
	vertical-align: middle;
	display: inline-block;
	outline: none;
	width: 80px;
	height: 24px;
	background-color: #dfded8;
	position: relative;
	border-radius: 12px;
	cursor: pointer;
	margin: 0;
	.transition(all .8s ease);
	&:after {
		.transition(left .3s ease);
		content: ' ';
		display: block;
		position: absolute;
		background: url(../image/switch.png) 0 -20px;
		height: 20px;
		line-height: 20px;
		text-align: center;
		width: 35px;
		left: 43px;
		top: 2px;
		border-radius: 10px;
	}
	&[checked] {
		background-color: #59b1b9;
		&:after {
			content: ' ';
			left: 2px;
			background-position: 0 0;
		}
	}
}

form {
	padding: 30px 0 20px;
	background-color: white;
	&.stand-alone {
		background-color: inherit;
		padding: 0 30px;
		.field > label {
			width: 110px;
			text-align: left;
			font-size: 14px;
		}
	}
	.field {
		padding: 0;
		font-size: 12px;
		line-height: 36px;
		& > label {
			display: inline-block;
			width: 160px;
			vertical-align: middle;
			text-align: right;
			height: 24px;
			line-height: 24px;
			font-size: 12px;
			color: #53585d;
			padding-right: 5px;
		}

		.select-widget {				
			background: #fcfcfc;		
			border: 1px solid #dcdad1;
			border-radius: 2px;
			outline: none;
			height: 18px;
			padding-top: 2px;
			padding-bottom: 2px;
			padding-right: 50px;
			line-height: 18px;
			vertical-align: middle;
			cursor: pointer;

			.select-value {
				color: #919088;
				text-shadow: none;
				font-size: 12px;
				display: block;
				height: 18px;
				line-height: 18px;
			}
			.select-caret {
				width: 20px;
				height: 20px;
				right: 1px;
				top: 1px;
				background-position: 0 -50px;
			}
			.select-option-list {
				z-index: 100;
				top: 24px;
				border-radius: 2px;
				.select-option {
					font-size: 12px;
					height: 24px;
					line-height: 24px;
					padding-right: 50px;
					padding-left: 10px;
					&:hover {
						background-color: #ececec;
						color: #53585d;
					}
				}
			}
			&:hover, &.active {
				.select-caret {
					background-position: 0 -70px;
				}
			}
		}
		.required {
			color: #ee2f10;
		}
		& > a {
			display: inline-block;
			height: 24px;
			line-height: 24px;
			margin-left: 10px;
		}
		&.top-align {
			label {
				vertical-align: top;
			}
		}
		li.sub-item {			
			height: 40px;
			line-height: 40px;
			background-color: white;
			border-bottom: 1px solid #e7e6e0;
			position: relative;
			&.gray {
				background-color: #f9f9f9;
				border-bottom-color: #e7e6e0;
			}
			&:last-child{
				border-bottom: none;
			}
			& > label {
				width: 145px;
				padding-left: 10px;
				display: inline-block;
				&.short {
					width: 53px;
				}
			}
			input {
				width: 140px;
			}
			input.short {
				width: 40px;
			}
			& > span {
				padding: 0 5px;
			}
			select {
				width: 140px;
				&.short {
					width: 14px;
					margin-right: 15px;
				}
			}
		}

	}
	
	.padding-box {
		padding: 20px 0 0;
	}
}

button.form-button {
	font-family: Arial;
	padding: 5px 20px;
	height: 14px;
	line-height: 14px;
	box-sizing: content-box;
	border: 1px solid #718486;
	border-radius: 4px;
	background: url(../image/form-button.png) repeat-x;
	outline: none;
	color: white;
	text-shadow: 0 -1px #429ba3;
	cursor: pointer;
	margin-top: 10px;
	&:hover {
		background-position: 0 -24px;
	}
	&:active {
		background-position: 0 -48px;
	}
}

button.submit {
	font-family: Arial;
	font-size: 18px;
	padding: 6px 40px;
	height: 18px;
	line-height: 18px;
	font-size: 14px;
	font-weight: normal;
	background-position: 0 -138px;
	&:hover {
		background-position: 0 -168px;
	}
	&:active {
		background-position: 0 -198px;
	}
	background: url(../image/submit.png) repeat-x;
	border: 1px solid #20a086;
	border-radius: 5px;
	color: white;
	text-shadow: 0 -1px #43a976;
	outline: none;
	cursor: pointer;
	margin: 0;
}

input[disabled] {
	background-color: #eee;
	border: 1px solid #c1c1c1;
	border-radius: 3px;
	height: 18px;
	padding: 2px 3px;
}

button.normal-btn {
	height: 24px;
	line-height: 24px;
	outline: none;
	border: 1px solid #cfcfcf;
	border-radius: 4px;
	padding: 0 8px;
	text-shadow: 0 1px white;
	background: url(../image/button.png) repeat-x;
	vertical-align: middle;
	&:hover {
		background-position: 0 -24px;
	}
	&:active {
		background-position: 0 -48px;
	}
}

.empty {
	display: none;
}

.close {
	background-image: url(../image/close-button.png);
	background-repeat: no-repeat;
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 50%;
	margin-top: -10px;
	right: 10px;
	cursor: pointer;

	&:hover {
		background-position: 0 -20px;
	}
	
	&.square {
		background-color: #3bbded;
		background-position: 2px -118px;
		padding: 2px;
		right: 0;
		top: 0;
		margin-top: 0;
		&:hover {
			background-color: lighten(#3bbded, 10%);
		}
		&:active {
			background-color: darken(#3bbded, 10%);
		}
	}

	&.round {
		right: 6px;
		background-position: 0 -80px;
		&:hover {
			background-position: 0 -100px;
		}
		&:active {
			background-position: 0 -80px;
		}
	}

	&.round-small {
		right: 1px;
		background-position: 0 -40px;
		&:hover {
			background-position: 0 -60px;
		}
	}

}

div.paging-widget {
	padding: 20px 10px 20px 20px;
	overflow: hidden;
	font-size: 12px;
	div.page-size-option {
		float: left;
		a {
			padding: 4px 6px;
			display: inline-block;
			&.selected {
				color: white;
				background: #3bbded;
				border-radius: 4px;
			}
		}
	}
	div.page-navigator {
		float: right;
		.go-first, .go-next, .go-prev, .go-last {
			border: 1px solid #dedcd4;
			border-radius: 3px;
			width: 24px;
			height: 24px;
			display: inline-block;
			margin: 0 1px;
			vertical-align: middle;
			background: url(../image/paging-nav.png);
		}
		span {
			display: inline-block;
			color: #989791;
			margin: 0 8px;
			height: 24px;
			line-height: 24px;
			vertical-align: middle;
			&.go-first {
				background-position: 0 -24px;
			}
			&.go-prev {
				background-position: -24px -24px;
			}
			&.go-next {
				background-position: -48px -24px;
			}
			&.go-last {
				background-position: -72px -24px;
			}
		}
		a {
			&.go-first {
				background-position: 0 0;
			}
			&.go-prev {
				background-position: -24px 0;
			}
			&.go-next {
				background-position: -48px 0;
			}
			&.go-last {
				background-position: -72px 0;
			}
			&:hover {
				background-color: white;
			}
		}
	}
}

a.action {
	display: inline-block;
	width: 40px;
	height: 24px;
	background: url(../image/action-button.png) no-repeat;
	&:hover, &.active {
		background-position: 0 -24px;
	}
	vertical-align: middle;
}

.dialog-widget {
	position: fixed;
	left: 50%;
	top: 50%;
	border-top: 3px solid #59b1b9;
	border-radius: 3px;
	box-shadow: 0 0 6px #4d4d4d;
	background: white;
	z-index: 1000;
	display: none;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	&.show {
		display: block;
	}
	.dialog-title {
		height: 48px;
		background-color: #f2f2f0;
		h2 {
			height: 48px;
			line-height: 48px;
			text-align: center;
			font-family: Helvetica Arial;
			font-size: 18px;
			font-weight: normal;
		}
	}
	.dialog-content {
		padding: 10px 30px 30px;
	}
}

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-webkit-keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-moz-keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
body.masked:after {
	content: ' ';
	display: block;
	z-index: 999;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(61,61,61,.9);
	-webkit-animation: fade .5s ease 0 1;
	-o-animation: fade .5s ease 0 1;
	animation: fade .5s ease 0 1;
}


span.icon-add {
    vertical-align: middle;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    padding-right: 5px;
    position: relative;
    top: -2px;
}


span.type-mobile, span.type-pc, span.status-pause, span.status-running {
    display: inline-block;
    height: 30px;
    background: url(../image/campaign-icons.png) no-repeat;
}
span.type-mobile {
    width: 30px;
    background-position: 0 0;
}
span.type-pc {
    width: 35px;
    background-position: -30px 0;
}
span.status-running {
    width: 15px;
    background-position: -65px 0;
}
span.status-pause {
    width: 15px;
    background-position: -80px 0;
}
span.up-going {
    color: #52a450;
}
span.down-going {
    color: #e4534e;
}

#feedback-dialog {
	div.dialog-content {
		padding: 0 36px;
		form {
			padding: 0;
			div.field {
				& > label {
					display: block;
					text-align: left;
					line-height: 50px;
					height: 43px;
					padding: 0;
					font-size: 14px;
					width: auto;
				}
				textarea {
					width: 520px;
					height: 120px;
					resize: none;
				}
				div.check-group {
					height: 24px;
					line-height: 16px;
				}
			}
			div.submit {
				text-align: center;
				padding: 30px 0 20px;
				button.submit.small {
					width: 120px;
				}
			}
		}
	}
}