div.content{width:1000px;margin:0 auto;border:1px solid #d5d5d5;background-color:#f7f7f7;box-shadow:0 0 5px rgba(100,100,100,0.1)}div.content form{background-color:#f7f7f7}
div.content h1{font-size:30px;font-weight:normal;margin:60px auto 40px;text-align:center}
div.content h2{font-size:28px;height:40px;line-height:40px;font-weight:normal;margin:40px 35px 20px;border-bottom:2px solid #59b1ba}
div.content p,div.content>ul{font-size:14px;margin:20px 35px}div.content p .ok,div.content>ul .ok{color:#41946a}
div.content p .error,div.content>ul .error{color:#f0303d}
div.content form{padding-top:0}
