#traffic-source-list td{text-align:center}
#create-traffic-source-dialog div.padding-box{padding-top:30px}
#create-traffic-source-dialog div.field .longer{width:320px}
#create-traffic-source-dialog #create-traffic-source-btn{padding:6px 100px;position:relative}#create-traffic-source-dialog #create-traffic-source-btn:before{content:'Fields with * are required';color:#9d9d9d;font-size:12px;display:block;position:absolute;left:0;right:0;top:-20px;text-align:center;text-shadow:none}
